<p style="font-size: xx-large; color: green; text-align: center;">Planter Review Form</p>

<form (ngSubmit)="onSubmit()" #planterReviewForm="ngForm">
  <tr>
    <div class="form-group">
      <label for="planterId">Planter Id</label>
      
        <input type="text" [(ngModel)]="model.planterId" class="form-control" id="pid" placeholder="Enter planter Id "
        name="pid" #planterId="ngModel" required pattern="[0-9]+">
      <div *ngIf="planterId.invalid">
        <span style="color: red;" *ngIf="planterId.errors?.['required']">

          planter Id is required Field
        </span>
        <span style="color: red;" *ngIf="planterId.errors?.['pattern']">
          planter Id is not valid
        </span>
      </div>
    </div>
  </tr>
  <br><br>
  <tr>
    <div class="form-group">
      <label for="customerName">CustomerName</label>
     
        <input type="text" [(ngModel)]="model.customerName" class="form-control" id="cname" placeholder="Enter Customer Name"
        name="cname" #customerName="ngModel" required pattern="[a-zA-Z]+">
      <div *ngIf="customerName.invalid">
        <span style="color: red;" *ngIf="customerName.errors?.['required']">

          customer Name is required Field
        </span>
        <span style="color: red;" *ngIf="customerName.errors?.['pattern']">
          customer Name is not valid
        </span>
      </div>
    </div>
  </tr>
  <br><br>
  <tr>
    <div class="form-group">
      <label for="starRating">Number of Stars</label>
      <div class="star-rating">
        <span class="star" [class.filled]="model.starRating >= 1" (click)="model.starRating = 1">&#9733;</span>
        <span class="star" [class.filled]="model.starRating >= 2" (click)="model.starRating = 2">&#9733;</span>
        <span class="star" [class.filled]="model.starRating >= 3" (click)="model.starRating = 3">&#9733;</span>
        <span class="star" [class.filled]="model.starRating >= 4" (click)="model.starRating = 4">&#9733;</span>
        <span class="star" [class.filled]="model.starRating >= 5" (click)="model.starRating = 5">&#9733;</span>
      </div>
    </div>

  </tr>
  <br><br>
  <tr>
    <div class="form-group">
      <label for="msg">Message</label>
      <textarea class="form-control" id="msg" name="msg" [(ngModel)]="model.msg"
        placeholder="Write your thoghts about the product"></textarea>
    </div>
  </tr>
  <br><br>

  <button type="submit" class="btn btn-primary">Submit</button>
 
</form>


<div *ngIf="status == true" class="alert alert-success mt-3">Your review has been submitted successfully.</div>
<div *ngIf="status == false" class="alert alert-danger mt-3">Review not submitted</div>