<table style="width: 100%;height: 10%;">
    <hr />
    <tr>
        <td style="width: 10%; text-align: center;"> <a routerLink="/plant-review">Plant Review</a></td>
        <td style="width: 10%; text-align: center;"> <a routerLink="/planter-review">Planter Review</a></td>
        <td style="width: 10%; text-align: center;"> <a routerLink="/allReviews">All Reviews</a></td>
        <td style="width: 10%; text-align: center;"> <a routerLink="/reviewListByPlantId">Load Reviews</a></td>
  </tr>
</table>
<router-outlet></router-outlet>